.color-wrapper {
  height: 50dvh;
}

.color-container {
  background: #1d1d1e;
  display: flex;
  position: absolute;
  gap: 1rem;
  bottom: 1rem;
  padding: 1rem 2rem;
  border-radius: 5rem;
}

.color-container button {
  border: none;
  list-style-type: none;
  cursor: pointer;
  padding: 0.9rem;
  border-radius: 50%;
}

.color-container button.active {
  outline: 2px solid white;
}
